services:
  - type: web
    name: competitor-analysis-api
    env: docker
    plan: free
    region: singapore
    healthCheckPath: /
    envVars:
      - key: TENANT_ID
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: CLIENT_SECRET
        sync: false
      - key: DRIVE_ID
        sync: false
      - key: GEMINI_API_KEY
        sync: false
